.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;

  .logo {
    max-width: 45%;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
