@use '../../styles/settings/media' as mediaQuery;
@use '../../styles/settings/container' as container;

.about {
  @include container.container-body;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
  margin-top: 75px;
  margin-bottom: 75px;

  @include mediaQuery.responsive(tablet) {
    position: relative;
    margin-bottom: 160px;
    margin-top: 160px;
  }

  @include mediaQuery.responsive(laptop-md) {
    padding: 0;
  }

  img {
    width: 100%;

    @include mediaQuery.responsive(tablet-sm) {
      width: 80%;
    }

    @include mediaQuery.responsive(laptop-sm) {
      width: 61.5%;
      align-self: flex-start;
    }
  }

  .about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    @include mediaQuery.responsive(tablet) {
      position: absolute;
      width: 50%;
      background-color: var(--colour-white);
      bottom: 0;
      right: 0;
      transform: translate(0, 35%);
      padding: 45px;
    }
    @include mediaQuery.responsive(laptop-sm) {
      text-align: left;
      padding: 90px;
    }
    @include mediaQuery.responsive(laptop-md) {
      transform: translate(-3%, 22%);
    }

    h2 {
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 400;

      @include mediaQuery.responsive(laptop-sm) {
        font-size: 4.5rem;
      }
    }

    p {
      font-size: 1.4rem;
      font-family: var(--font-alata);
      color: var(--colour-darkGray);
      line-height: 1.75;

      @include mediaQuery.responsive(tablet-sm) {
        padding: 0 60px;
      }
      @include mediaQuery.responsive(tablet) {
        padding: 0;
      }
    }
  }
}
